<h1>About This Site</h1>
<p>
	This is my site dedicated to the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>, a project
	I'm working on in order to learn how to build Ruby applications. Enjoy!
</p>