<h1>Buongiorno!</h1>
<p>
	<br>
	Welcome to GregKapp.com, the site hosting my version of the sample app featured in the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. 
<br> 
<br> 
What are you waiting for? <b> <%= link_to "Join our thriving social network today!", signup_path %>
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>